#category {
  text-align: center;
  max-width: 800px;
}

#category h2,
#category p {
  margin-bottom: 1rem;
}

#category p {
  color: #1DC9A1;
  margin-top: 50px;
}

#category img {
  margin-top: 2rem;
  max-width: 500px;
}

#category button {
  margin: 3px;

}

#butcategoria{

  font-size: 15px;
}