.App {
  text-align: center;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Titulo {

  margin-bottom: 1rem ;
  font-size: 3rem;
}
#TituloFrase{

  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: space-between;
}